.main {
background-image: url("../../assets/landing.webp");
background-repeat: no-repeat;
background-size: cover;
background-position: right;
display: flex;
justify-content: center;
align-items: center; }
    .main__content {
    margin-block: 12rem; }
    @media (max-width: 47.9375em) {
    .main__content {
    text-align: center; } }
        .main__description {
        max-width: 60rem;
        margin-bottom: 3rem;
        color: var(--background-color); }
        .main__link {
        color: var(--primary-color);
        border: 2px solid var(--background-color);
        background-color: var(--background-color); }
        .main__link:hover {
        transition: all var(--main-duration) ease-in-out;
        color: var(--sm-text-color);
        border: 2px solid var(--yellow-color);
        background-color: var(--yellow-color); }
    .main__image {
    margin-left: 4rem;
    max-width:40rem; }
    @media (max-width: 47.9375em) {
    .main__image {display: none;} }
        .main__img {
        display: block;
        width: 100%; }