.newsletter {
margin-top: var(--section-margin-top); }
    .newsletter__para {
    text-align: center;
    margin-bottom: 2rem; }
    .newsletter__form {
    text-align: center; }
        .newsletter__div {
        display: inline-block;
        position: relative; }
            .newsletter__input {
            outline: none;
            padding: 1rem; 
            border: 2px solid var(--thumb-color);
            background-color: var(--secondary-color); 
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;}
            .newsletter__input:focus {
            border-color: var(--primary-color); }
            .newsletter__input--valid {
            border-color: hsla(161, 98%, 34%, 0.726);
            background-color: hsla(161, 98%, 34%, 0.082); }
            .newsletter__input--valid:focus {
            outline-color: hsla(161, 98%, 34%, 0.726); }
            .newsletter__input--error {
            border-color: hsla(7, 76%, 44%, 0.966);
            background-color:hsla(7, 100%, 68%, 0.082); }
            .newsletter__input--error:focus {
            outline-color: hsla(7, 76%, 44%, 0.966); }
            .newsletter__form-error {
            color: hsla(7, 76%, 44%, 0.966);
            font-size: 1.2rem;
            position: absolute;
            left: 1rem;
            bottom: -2rem;}
            .newsletter__btn {
            padding: 1rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            background-color: var(--primary-color);
            border: 2px solid var(--primary-color);
            color: var(--background-color);
            font-weight: 600;
            transition: all var(--main-duration) ease-in-out; }
            .newsletter__btn:hover {
            background-color: var(--yellow-color);
            border: 2px solid var(--yellow-color);
            color: var(--sm-text-color); }