.contact {
margin-top: 14rem; }
        .contact__form-container {
        margin: 4rem auto 0;
        max-width: 700px; } 
                .contact__form-name,
                .contact__form-email,
                .contact__form-message {
                padding-top: 3rem; }
                        .contact__form-label {
                        display: block;
                        margin-bottom: 1rem;
                        text-align: left;
                        letter-spacing: 1px; }
                        .contact__form-input {
                        outline: none;
                        border: 1px solid var(--thumb-color);
                        border-radius: 4px;
                        width: 100%;
                        padding: 1rem 2rem;
                        background-color: var(--secondary-color); 
                        color: var(--sm-text-color);}
                        .contact__form-input:focus {
                        outline: 1px solid var(--primary-color); }
                        .contact__form-input--valid {
                        border-color: hsla(161, 98%, 34%, 0.726);
                        background-color: hsla(161, 98%, 34%, 0.082); }
                        .contact__form-input--valid:focus {
                        outline-color: hsla(161, 98%, 34%, 0.726); }
                        .contact__form-input--error {
                        border-color: hsla(7, 76%, 44%, 0.966);
                        background-color:hsla(7, 100%, 68%, 0.082); }
                        .contact__form-input--error:focus {
                        outline-color: hsla(7, 76%, 44%, 0.966); }
                        .contact__form-error {
                        color: hsla(7, 76%, 44%, 0.966);
                        font-size: 1.2rem;
                        padding-left: 2rem; }